<section id="about-section">
  <article class="article article__container">
    <div class="article article__img-container">
      <img id="self-portrait" src="../../assets/me3.png" alt="self-portrait" />
    </div>

    <div class="global-content-grid">
      <h2 id="about">Acerca de</h2>
      <p>
        Mi nombre es Joaquin Voda, tengo 28 años y me desempeño como full-stack developer.
        Actualmente, cuento con habilidades en distintos lenguajes, herramientas y frameworks
        de desarrollo (ver sección de
        <a href="#skills-section"><mark id="special-link">Skills</mark></a>
        ). Tengo mentalidad crítica para la resolución de problemas, y mucho interés
        por la tecnología y su funcionamiento.
      </p>
      <br />
      <p>
        Cuando no me encuentro programando, me gusta realizar cualquier actividad física, además
        de escuchar y tocar música, y jugar video juegos.
      </p>
      <div class="global-content-grid-social-container">
        <a href="https://www.linkedin.com/" target="_blank"
          ><img class="icon" src="../../assets/linkedin.png" />
        </a>
        <a href="https://github.com/j0voda" target="_blank">
          <img class="icon" src="../../assets/github.png" />
        </a>
        <a href="mailto:vodajoaquin@gmail.com" target="_blank">
          <img class="icon" src="../../assets/mailicon.png" />
        </a>
      </div>
    </div>
  </article>
</section>
