@import "../../../styles.css";

nav {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 100;
}

.nav-container {
  max-width: 102rem;

  position: fixed;
  top: 0%;
  background-color: transparent;
  transition: background-color 0.25s ease;
  width: 100%;
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

.nav-container__logo {
  width: 200px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.nav-container__logo h2 a {
  transition: 0.2s;
}

.nav-container__logo > h2 > a:hover {
  color: black;
}

.nav-container__links ul {
  display: flex;
}

.nav-container__links a {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  font-size: 1.07rem;
  font-weight: 500;
  line-height: 2;
  transition: 0.2s;
}

.nav-container__links a:hover {
  color: black;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}
.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 3px;
  border-radius: 3px;
  transition: 0.5s;
}

nav.open .nav-container__links {
  transform: translateX(0);
}

/* Media Queries */

/* // Small Devices (i.e. mobile phones) */

@media only screen and (max-width: 280px) {
  .nav-container__links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    /* //background-color: $theme-color-p; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .nav-container__links ul {
    flex-direction: column;
  }

  .nav-container__links a {
    /* //color: $theme-color-t; */
    font-size: 1.75rem;
  }
  .nav-container__menu--hamburger {
    display: flex;
  }
}

@media only screen and (min-width: 281px) and (max-width: 340px) {
  .nav-container__links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    /* //background-color: $theme-color-p; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .nav-container__links ul {
    flex-direction: column;
  }

  .nav-container__links a {
    /* //color: $theme-color-t; */
    font-size: 2rem;
  }

  .nav-container__menu--hamburger {
    display: flex;
  }
}

@media only screen and (min-width: 341px) and (max-width: 415px) {
  .nav-container__links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    /* //background-color: $theme-color-p; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .nav-container__links ul {
    flex-direction: column;
  }

  .nav-container__links a {
    /* //color: $theme-color-t; */
    font-size: 2rem;
  }

  .nav-container__menu--hamburger {
    display: flex;
  }
}

/* Medium Devices */

@media only screen and (min-width: 415px) and (max-width: 641px) {
  .nav-container__links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    /* //background-color: $theme-color-p; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .nav-container__links ul {
    flex-direction: column;
  }

  .nav-container__links a {
    /* //color: $theme-color-t; */
    font-size: 2.25rem;
  }
  .nav-container__menu--hamburger {
    display: flex;
  }
}

@media only screen and (min-width: 642px) and (max-width: 769px) {
  .nav-container__links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    /* //background-color: $theme-color-p; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .nav-container__links ul {
    flex-direction: column;
  }

  .nav-container__links a {
    /* //color: $theme-color-t; */
    font-size: 2.5rem;
  }
  .nav-container__menu--hamburger {
    display: flex;
  }
}

/* Big Screen Devices */

@media only screen and (min-width: 770px) and (max-width: 890px) {
  .nav-container__links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    /* //background-color: $theme-color-p; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .nav-container__links ul {
    flex-direction: column;
  }

  .nav-container__links a {
    /* //color: $theme-color-t; */
    font-size: 3rem;
  }
  .nav-container__menu--hamburger {
    display: flex;
  }
}

@media only screen and (min-width: 891px) and (max-width: 1025px) {
  nav {
    font-size: 1.1rem;
  }

  .nav-container {
    max-width: 100%;
  }

  .nav-container__links a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1026px) and (max-width: 1535px) {
  nav {
    font-size: 1.1rem;
  }

  .nav-container {
    max-width: 100%;
  }

  .nav-container__links a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1536px) and (max-width: 1681px) {
  nav {
    font-size: 1.2rem;
  }

  .nav-container {
    max-width: 100%;
  }

  .nav-container__links a {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1682px) and (max-width: 2175px) {
  nav {
    font-size: 1.3rem;
  }
  .nav-container {
    max-width: 100%;
  }
  .nav-container__links {
    padding-left: 26rem;
  }

  .nav-container__links a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 2175px) {
  nav {
    font-size: 1.3rem;
  }
  .nav-container {
    max-width: 100%;
  }
  .nav-container__links {
    padding-left: 26rem;
  }

  .nav-container__links a {
    font-size: 1.5rem;
  }
}
