<nav #navbar>
  <div class="nav nav-container" #HEADER>
    <div class="nav nav-container__logo">
      <h2><a href="index.html">Joaquin</a></h2>
    </div>

    <div class="nav nav-container__links">
      <ul>
        <li (click)="closeMenu()">
          <a href="#about-section">Acerca de</a>
        </li>
        <li (click)="closeMenu()">
          <a href="#projects-section">Proyectos</a>
        </li>
        <li (click)="closeMenu()">
          <a href="#skills-section">Skills</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
