<section id="projects-section">
  <aside class="projects">
    <div class="projects__container">
      <h2 id="projects-heading">Proyectos</h2>
      <div class="projects__grid">
        <div class="projects__grid--col">
          <div class="projects__grid--col-content" #eShop>
            <h3>Biblioteca</h3>
            <p>
              Programa de consola desarrollado en C++ para la materia
              Laboratorio de Programación II. El mismo permite la gestión
              de una biblioteca en su totalidad.
            </p>
            <div class="global-content-grid-social-container2">
              <a href="https://github.com/j0voda/LAB2_Biblioteca" target="_blank">
                <img class="icon" src="../../assets/github.png" />
                Ver en github.
              </a>
            </div>
          </div>
          <div
            class="projects__img-container"
            id="projects__img-container_img1"
            #eImage
          ></div>
        </div>

        <div class="projects__grid--col">
          <div class="projects__grid--col-content" #fakeOS>
            <h3>Gestor de productos</h3>
            <p>
              Aplicación de escritorio desarrollada en C#, Framework .NET para la materia 
              Laboratorio de Programación III. El sistema permite la gestión de un stock
              de productos.
            </p>
            <div class="global-content-grid-social-container2">
              <a href="https://github.com/JuanPrato/tp-winform-equipo-21B" target="_blank">
                <img class="icon" src="../../assets/github.png" />
                Ver en github.
              </a>
            </div>
          </div>
          <div
            class="projects__img-container"
            id="projects__img-container_img2"
            #fImage
          ></div>
        </div>

        <div class="projects__grid--col">
          <div class="projects__grid--col-content" #gBooks>
            <h3>Promoción Canjea tu código.</h3>
            <p>
              Aplicación web desarrollada en C#, Framework ASP .NET para la materia
              Laboratorio de Programación III. Esta aplicación maneja cierto stock de
              productos, canjeables mediante un código promocional. Notifica via email
              al usuario con información del producto elegido.
            </p>
            <div class="global-content-grid-social-container2">
              <a
                href="https://github.com/j0voda/TPWebForms_Grupo21B"
                target="_blank"
              >
                <img class="icon" src="../../assets/github.png" />
                Ver en github.
              </a>
            </div>
          </div>
          <div
            class="projects__img-container"
            id="projects__img-container_img3"
            #gImage
          ></div>
        </div>
        <div class="projects__grid--col">
          <div class="projects__grid--col-content" #minesweeper>
            <h3>Shaman Signatures</h3>
            <p>
              Web App desarrollada en Angular 12. Esta aplicación
              recibe vía url parámetros asociados a un paciente y
              una atención recibida, y permite registrar la firma
              del mismo.
            </p>
            <div class="global-content-grid-social-container2">
              <a
                href="https://github.com/j0voda/ShamanSignatures"
                target="_blank"
              >
                <img class="icon" src="../../assets/github.png" />
                Ver en github.
              </a>
            </div>
          </div>
          <div
            class="projects__img-container"
            id="projects__img-container_img4"
            #mImage
          ></div>
        </div>
      </div>
    </div>
  </aside>
</section>
