<section id="skills-section">
  <article class="skills">
    <div class="skills__container">
      <h2 id="skills-heading">Skills</h2>
      <div class="skills__grid">
        <div class="skills__grid--col">
          <img class="skills-grid-img" src="../../assets/skills/html5.png" />
        </div>
        <div class="skills__grid--col">
          <img class="skills-grid-img" src="../../assets/skills/css.png" />
        </div>
        <div class="skills__grid--col">
          <img class="skills-grid-img" src="../../assets/skills/csharp.png" />
        </div>
        <div class="skills__grid--col">
          <img class="skills-grid-img" src="../../assets/skills/js.png" />
        </div>
        <div class="skills__grid--col">
          <img class="skills-grid-img" src="../../assets/skills/angular.png" />
        </div>
        <div class="skills__grid--col">
          <img class="skills-grid-img" src="../../assets/skills/java.png" />
        </div>
        <div class="skills__grid--col">
          <img class="skills-grid-img" src="../../assets/skills/git.png" />
        </div>
      </div>
    </div>
  </article>
</section>
