<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stanley Yu | Full Stack Developer</title>
    <link rel="stylesheet" href="./404.component.css" />
    <link rel="icon" href="assets/sicon.png" type="image/x-icon" />
  </head>
  <body class="stop-scrolling">
    <main>
      <header>
        <nav>
          <div class="nav nav-container">
            <div class="nav nav-container__logo">
              <h2><a href="index.html">:stanley</a></h2>
            </div>
          </div>
        </nav>
      </header>

      <div class="header header__content">
        <div class="header header__content--grid">
          <div>
            <h2 class="cover-heading">
              Hey, i'm future <a href="index.html">Stanley</a>
            </h2>
            <p class="cover-text">
              & unfortunately this page has not been created yet. Click on my
              name to be taken back to your time-period<em>_</em>
            </p>
          </div>
          <div>
            <img id="cover-image2" src="assets/404me.png" />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
